.dark-mode {
  filter: invert(100%);
}
.invert {
  filter: dark-mode(100%);
}
.loader {
  position: absolute;
  top: 40%;
  left: 47%
}
.login {
  margin-top: 70px;
  margin-bottom: 70px;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
span.lever {
  background: rgb(56, 56, 90) !important;
}
span.lever::after {
  background: blue !important;
}